<!DOCTYPE html>
<html>
	<head>
		<title>AoI Units</title>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="icons/idun.png">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myController" ng-init="init()">
			<div ng-if="settings.loaded" class="animate-if">
			<div ng-show="!settings.overlay" class="search_overlay" ng-style="{'opacity' : settings.overlay ? 1 : 0.35 }">
				<div  style="padding-top: 0px; float:right;" >
					<button type="button" ng-click="settings.overlay = !settings.overlay">{{ settings.overlay ? "&gt;&gt;&gt;" : "&lt;&lt;&lt;"}}</button>
				</div>
			</div>
			<div ng-show="settings.overlay" class="search_overlay">
				<div style="padding-top: 0px; float:right;" >
					<button type="button" ng-click="settings.overlay = !settings.overlay">{{ settings.overlay ? "&gt;&gt;&gt;" : "&lt;&lt;&lt;"}}</button>
				</div>
				<div style="position: relative;">
					<div>
						<b>Ability</b>
						<ul>
							<li ng-repeat="ability in ::abilities" ng-style="{'color' : ability.count ? 'black' : 'darkgrey' }">
								<input type="radio" ng-model="settings.ability" ng-value="::$index"><span>{{::ability.value}} ({{ability.count}})</span>
							</li>
						</ul>
					</div>
					<div>
						<b>Passive Skill effect</b>
						<ul>
							<li ng-repeat="tag in ::tags" ng-style="{'color' : tag.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="tag.active"><span>{{::tag.value}} ({{tag.count}})</span>
							</li>
						</ul>
						<b>Active Skill type</b>
						<ul>
							<li ng-repeat="type in ::skill_types" ng-style="{'color' : type.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="type.active"><span>{{::type.value}} ({{type.count}})</span>
							</li>
						</ul>
					</div>
					<div style="padding-bottom: 30px;">
						<b>Rarity</b>
						<ul>
							<li ng-repeat="rare in ::rarity" ng-style="{'color' : rare.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="rare.active"><span>{{::rare.value}} ({{rare.count}})</span>
							</li>
						</ul>
						<b>Type</b>
						<ul>
							<li ng-repeat="type in ::types" ng-style="{'color' : type.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="type.active"><span>{{::type.value}} ({{type.count}})</span>
							</li>
						</ul>
						<b>Element</b>
						<ul>
							<li ng-repeat="element in ::elements" ng-style="{'color' : element.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="element.active"><span>{{::element.value}} ({{element.count}})</span>
							</li>
						</ul>
						<b>Evolutions</b>
						<ul>
							<li ng-repeat="evo in ::evolutions" ng-style="{'color' : evo.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="evo.active"><span>{{::evo.value}} ({{evo.count}})</span>
							</li>
						</ul>
						<div style="display:block; margin-left:1em; float:none;">
							<input type="checkbox" ng-model="settings.showImages"> images
						</div>
						<div style="display:block; margin-left:1em; float:none;">
							<input type="checkbox" ng-model="settings.firstAbility"> First ability
						</div>
						<div style="display:block; position:relative; left:1.5em; margin-top:1em; float:none;">
							<button type="button" ng-click="search()">Search</button>
						</div>
					</div>
					<b style="bottom:15px; right:-25px; margin-right:15px; position:absolute;">{{::dateString}}</b>
					<b style="bottom:40px; right:-25px; margin-right:15px; position:absolute;">{{result.length}}/{{::units.length}}</b>
				</div>
			</div>
			<div style="padding:10px;">
				<table ng-class="{ 'hide' : !settings.showImages }">
					<thead>
						<tr>
							<th ng-repeat="header in ::headers">
								<div style="display: inline-flex;">
									<span ng-style="::{'cursor' : header.sort ? 'pointer' : 'auto' }" ng-click="hsort(header)">{{::header.name}}</span>
									<span ng-show="header.sort == sort.type1" class="sort">&nbsp;1</span>
									<span ng-show="header.sort == sort.type2" class="sort">&nbsp;2</span>
									<div ng-if="::header.sort" style="float: left; padding-left: 4px;">										
										<span class="chevron up" ng-class="{ 'up-active' : (header.sort == sort.type1 || header.sort == sort.type2 ) && !sort.reverse }" ng-click="csort(header.sort,false)"></span>
										<span class="chevron down" ng-class="{ 'down-active' : (header.sort == sort.type1 || header.sort == sort.type2 ) && sort.reverse }" ng-click="csort(header.sort,true)"></span>
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="unit in result | orderBy:[sort.type1,sort.type2]:sort.reverse | filter: '' track by unit.name" ng-class="::unit.element">
							<td style="text-align: left; padding-left: 5px;">
								<img lazy-load style="width:40px;height:60px;" ng-attr-data-src="{{::unit.isrc}}">
								<a target="_blank" ng-href="{{::unit.src}}">{{::unit.name}}</a>
							</td>
							<td>{{::unit.rarity}}</td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.element+'.png)'}"></div></td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.type+'_icon.png)'}"></div></td>
							<td>{{::unit.attack}}</td>
							<td>{{::unit.hp}}</td>
							<td>
								{{::abilities[unit.ability[0].ind+1].value}} {{::unit.ability[0].level}}
								<div ng-if="::unit.ability.length > 1"><hr>{{::abilities[unit.ability[1].ind+1].value}} {{::unit.ability[1].level}}</div>
							</td>
							<td><div ng-if="::unit.skills[0].chance">{{::unit.skills[0].chance}}%<br><img ng-src="icons/{{::unit.skills[0].type}}-icon.png"></div></td>
							<td><p>{{::unit.skills[0].text}}</p></td>
							<td><div ng-if="::unit.skills[1].chance">{{::unit.skills[1].chance}}%<br><img ng-src="icons/{{::unit.skills[1].type}}-icon.png"></div></td>
							<td><p>{{::unit.skills[1].text}}</p></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</body>
</html>
