<!DOCTYPE html>
<html>
	<head>
		<title>AoI Units</title>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="icons/idun.png"/>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/unit_data.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myController" ng-init="myinit()">
			<div class="search_overlay">
				<div style="padding-top: 0px; float:right;">
					<button type="button" ng-click="overlay = !overlay">{{ overlay ? "&gt;&gt;&gt;" : "&lt;&lt;&lt;"}}</button>
				</div>
				<div ng-show="overlay" style="position: relative;">
					<div>
						<b>Ability</b>
						<ul>
							<li ng-repeat="ability_i in ::abilities">
								<input type="radio" ng-model="$parent.ability" ng-value="::$index">{{::ability_i}}
							</li>
						</ul>
					</div>
					<div>
						<b>Skill effect</b>
						<ul>
							<li ng-repeat="tag in ::tags">
								<input type="checkbox" ng-model="tag.active">{{::tag.value}}
							</li>
						</ul>
					</div>
					<div style="padding-bottom: 30px;">
						<b>Rarity</b>
						<ul>
							<li ng-repeat="rare in ::rarity">
								<input type="checkbox" ng-model="rare.active">{{::rare.value}}
							</li>
						</ul>
						<b>Type</b>
						<ul>
							<li ng-repeat="type in ::types">
								<input type="checkbox" ng-model="type.active">{{::type.value}}
							</li>
						</ul>
						<b>Element</b>
						<ul>
							<li ng-repeat="element in ::elements">
								<input type="checkbox" ng-model="element.active">{{::element.value}}
							</li>
						</ul>
						<button type="button" ng-click="search()" style="left:1.5em; position:relative;">Search</button>
					</div>
					<b style="bottom:15px; right:-25px; position:absolute;">{{result.length}}/{{::units.length}}</b>
				</div>
			</div>
			<div style="padding:10px;">
				<table>
					<thead>
						<tr>
							<th ng-click="sortType === 'name' ? sortReverse = !sortReverse : sortType = 'name';">Name</th>
							<th ng-click="sortType === 'rarity' ? sortReverse = !sortReverse : sortType = 'rarity';">Rarity</th>
							<th ng-click="sortType === 'element' ? sortReverse = !sortReverse : sortType = 'element';">Element</th>
							<th ng-click="sortType === 'type' ? sortReverse = !sortReverse : sortType = 'type';">Type</th>
							<th ng-click="sortType === 'attack' ? sortReverse = !sortReverse : sortType = 'attack';">Attack</th>
							<th ng-click="sortType === 'hp' ? sortReverse = !sortReverse : sortType = 'hp';">HP</th>
							<th ng-click="sortType === 'ability' ? sortReverse = !sortReverse : sortType = 'ability';">Ability</th>
							<th></th>
							<th>Skill 1</th>
							<th></th>
							<th>Skill 2</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="unit in result | orderBy:sortType:sortReverse | filter: '' track by unit.name" ng-class="::unit.element">
							<td style="text-align: left; padding-left: 5px;"><a target="_blank" ng-href="http://ishtaria.wikia.com/wiki/{{::unit.name}}">{{::unit.name}}</a></td>
							<td>{{::unit.rarity}}</td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.element+'.png)'}"></div></td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.type+'_icon.png)'}"></div></td>
							<td>{{::unit.attack}}</td>
							<td>{{::unit.hp}}</td>
							<td>{{::abilities[unit.ability.ind+1]}} {{::unit.ability.level}}</td>
							<td><div ng-if="::unit.skills[0].chance">{{::unit.skills[0].chance}}%<br><image ng-src="icons/{{::unit.skills[0].type}}-icon.png"/></div></td>
							<td><p>{{::unit.skills[0].text}}</p></td>
							<td><div ng-if="::unit.skills[1].chance">{{::unit.skills[1].chance}}%<br><image ng-src="icons/{{::unit.skills[1].type}}-icon.png"/></div></td>
							<td><p>{{::unit.skills[1].text}}</p></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
