<!DOCTYPE html>
<html>
	<head>
		<title>AoI Units</title>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="icons/idun.png"/>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script type="text/javascript" src="data/unit_data.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myController" ng-init="myinit()">
			<div class="search_overlay" ng-style="{'opacity' : overlay ? 1 : 0.3 }">
				<div style="padding-top: 0px; float:right;">
					<button type="button" ng-click="overlay = !overlay">{{ overlay ? "&gt;&gt;&gt;" : "&lt;&lt;&lt;"}}</button>
				</div>
				<div ng-show="overlay" style="position: relative;">
					<div>
						<b>Ability</b>
						<ul>
							<li ng-repeat="ability_i in ::abilities" ng-style="{'color' : ability_i.count ? 'black' : 'darkgrey' }">
								<input type="radio" ng-model="$parent.ability" ng-value="::$index"><span>{{::ability_i.value}} ({{ability_i.count}})</span>
							</li>
						</ul>
					</div>
					<div>
						<b>Passive Skill effect</b>
						<ul>
							<li ng-repeat="tag in ::tags" ng-style="{'color' : tag.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="tag.active"><span>{{::tag.value}} ({{tag.count}})</span>
							</li>
						</ul>
						<b>Active Skill type</b>
						<ul>
							<li ng-repeat="type in ::skill_types" ng-style="{'color' : type.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="type.active"><span>{{::type.value}} ({{type.count}})</span>
							</li>
						</ul>
					</div>
					<div style="padding-bottom: 30px;">
						<b>Rarity</b>
						<ul>
							<li ng-repeat="rare in ::rarity" ng-style="{'color' : rare.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="rare.active"><span>{{::rare.value}} ({{rare.count}})</span>
							</li>
						</ul>
						<b>Type</b>
						<ul>
							<li ng-repeat="type in ::types" ng-style="{'color' : type.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="type.active"><span>{{::type.value}} ({{type.count}})</span>
							</li>
						</ul>
						<b>Element</b>
						<ul>
							<li ng-repeat="element in ::elements" ng-style="{'color' : element.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="element.active"><span>{{::element.value}} ({{element.count}})</span>
							</li>
						</ul>
						<b>Evolutions</b>
						<ul>
							<li ng-repeat="evo in ::evolutions" ng-style="{'color' : evo.count ? 'black' : 'darkgrey' }">
								<input type="checkbox" ng-model="evo.active"><span>{{::evo.value}} ({{evo.count}})</span>
							</li>
						</ul>
						<div style="display:block; margin-left:1em; float:none;">
							<input type="checkbox" ng-model="showImages"> images
						</div>
						<button type="button" ng-click="search()" style="position:relative; left:1.5em; margin-top:1em;">Search</button>
					</div>
					<b style="bottom:15px; right:-25px; position:absolute;">{{::dateString}}</b>
					<b style="bottom:40px; right:-25px; position:absolute;">{{result.length}}/{{::units.length}}</b>
				</div>
			</div>
			<div style="padding:10px;">
				<table>
					<thead>
						<tr>
							<th ng-repeat="header in ::headers">
								<div style="display: inline-flex;">
									<span ng-style="::{'cursor' : header.sort ? 'pointer' : 'auto' }" ng-click="hsort(header)">{{::header.name}}</span>
									<div ng-if="::header.sort" style="float: left; padding-left: 4px;">
										<span class="chevron up" ng-click="csort(header.sort,false)"></span>
										<span class="chevron down" ng-click="csort(header.sort,true)"></span>
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="unit in result | orderBy:[sortType,sortType2]:sortReverse | filter: '' track by unit.name" ng-class="::unit.element">
							<td style="text-align: left; padding-left: 5px;">
								<img style="width:40px;height:60px;" ng-show="showImages" ng-attr-data-src="{{::unit.isrc}}" lazy-load />
								<a target="_blank" ng-href="http://ishtaria.wikia.com/wiki/{{::unit.name}}">{{::unit.name}}</a>
							</td>
							<td>{{::unit.rarity}}</td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.element+'.png)'}"></div></td>
							<td><div class="bg_div" ng-style="::{'background-image': 'url(icons/'+unit.type+'_icon.png)'}"></div></td>
							<td>{{::unit.attack}}</td>
							<td>{{::unit.hp}}</td>
							<td>
								{{::abilities[unit.ability[0].ind+1].value}} {{::unit.ability[0].level}}
								<div ng-if="::unit.ability[1].ind"><hr>{{::abilities[unit.ability[1].ind+1].value}} {{::unit.ability[1].level}}</div>
							</td>
							<td><div ng-if="::unit.skills[0].chance">{{::unit.skills[0].chance}}%<br><img ng-src="icons/{{::unit.skills[0].type}}-icon.png"></div></td>
							<td><p>{{::unit.skills[0].text}}</p></td>
							<td><div ng-if="::unit.skills[1].chance">{{::unit.skills[1].chance}}%<br><img ng-src="icons/{{::unit.skills[1].type}}-icon.png"></div></td>
							<td><p>{{::unit.skills[1].text}}</p></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
